<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootstrap-theme.min.css">
    <title>Chat admin</title>
</head>
<body>
<div class="container">
    <h1>{% block headline %}Chat admin{% endblock %}</h1>

    {% block body %}
    {% endblock %}
</div>
<script src="static/jquery.min.js"/>
<script src="static/bootstrap.min.js"/>
</body>
</html>